.header {
  background-color: #4CAF50;
  color: white;
  padding: 0;
  margin-bottom: 10%;
  text-align: center;
  position: fixed; /* Fixes the header to the top of the viewport */
  width: 100%; /* Ensures the header spans the entire width */
  
  z-index: 1000; /* Ensures the header is above other content */
}
